*{
    font-family: 'Lato', sans-serif !important;
}

.service-container{
}

.service-item{
    height: 200px;
    position: relative;
}

.social-networks > img {
    width: 36px;
}

.text-justify{
    text-align: justify;
}

.nav-logo{
    height: 32px;
}

.title-logo{
    height: 3.5rem;
}

.serv-bg{
    background-size: cover;
    background-position: center;
    filter: blur(1.5px);
    opacity: 0.8;
    height: 100%;
}

.serv-title{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.serv-pokedex{
    background-image: url(./img/bg-pokedex.jpg);
}

.serv-date{
    background-image: url(./img/bg-date.jpg);
}

.serv-urgency{
    background-image: url(./img/bg-urgency.jpg);
}

.serv-emergency{
    background-image: url(./img/bg-emergency.png);
}

.lead{
    font-size: 1.5rem;
    font-weight: 400;
}

.lead--main{
    font-weight: bold;
    color: var(--bs-red);
}