*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    flex-direction: column;
    justify-content: space-between; 
    height: 100vh;
}

header{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
}

footer{
    background-color: gray;
    text-align: center;
    color: white;
}

footer a{
    color: white;
    font-weight: bold;
}

.banner{
    height: 340px;
    background-color: beige;
    background-image: url('https://technotronixs.com/assets/front/img/summernote/61be16afc2df9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tech-container{
    justify-content: space-evenly;
    padding: 40px,16px;
}

.tech-item{
    height: 200px;
    background-color: orange;
    text-align: center;
    line-height: 200px;
    margin: 10px;
}

.d-flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.align-items0center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-end{
    justify-content: end;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

.margin-bottom-1{
    margin-bottom: 16px;
}

.border-radius-1{
    border-radius: 16px;
}

/* Small */
@media (max-width: 576px){
    body{
        background-color: green;
    }

    .col-xs-10{width: 100%}
    .col-xs-9{width: 90%}
    .col-xs-8{width: 80%}
    .col-xs-7{width: 70%}
    .col-xs-6{width: 60%}
    .col-xs-5{width: 50%}
    .col-xs-4{width: 40%}
    .col-xs-3{width: 30%}
    .col-xs-2{width: 20%}
    .col-xs-1{width: 10%}
}
/* Medium */
@media (min-width: 577px) and (max-width: 768px) {
    body{
        background-color: yellow;
    }
}

/* Large */
@media (min-width:769px) and (max-width:992px){
    body{
        background-color: blue;
    }
}
/* Extra Large */
@media (min-width:993px) and (max-width:1200px){
    body{
        background-color: aqua;
    }
}
/* Aun mas largo */
@media (min-width:1201px) and (max-width:1400px){
    body{
        background-color: brown;
    }
}
/* largo largassso */
@media (min-width:1401px){
    body{
        background-color: chartreuse;
    }
}

.col-10{width:100%;}
.col-9{width:90%;}
.col-8{width:80%;}
.col-7{width:70%;}
.col-6{width:60%;}
.col-5{width:50%;}
.col-4{width:40%;}
.col-3{width:30%;}
.col-2{width:20%;}
.col-1{width:10%;}