*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100vh;
}

header{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
}


footer{
    background-color: gray;
    text-align: center;
    color: white;
}

footer a{
    color: white;
    font-weight: bold;
}

.banner{
    width: 100%;
    height: 340px;
    background-color: beige;
    background-image: url('https://technotronixs.com/assets/front/img/summernote/61be16afc2df9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tech-container{
    display: flex;
    justify-content: space-evenly;
    padding: 40px,16px;
    flex-wrap: wrap;
}

.tech-item{
    width: 200px;
    height: 200px;
    background-color: orange;
    text-align: center;
    line-height: 200px;
    border-radius: 16px;
    margin-bottom: 16px;
    margin: 10px;
}

@media (max-width: 576px){
    body{
        background-color: green;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    body{
        background-color: yellow;
    }
}